* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.main {
    display: flex;
}

body {
    background-color: #5d47ed;
}

.left,
.right {
    display: flex;
    justify-content: center;
    width: 50vw;
    flex-direction: column;
}




h1 {
    position: absolute;
}

.first {
    padding-top: 10%;
    padding-left: 30px;

    align-items: flex-end;
    display: flex;
    justify-content: flex-start;

    margin-bottom: 10%;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.second {
    padding-left: 120px;



}

h3 {
    padding-left: 120px;
    padding-bottom: 30px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5em;
}

.input {
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-flow: column wrap;
    width: 36%;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    color: black;


}

input {

    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
    height: 35px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 3%;

}

input:focus {
    outline: none;
    outline: 2px solid red;
}

label {
    padding-bottom: 15px;
    color: white;
}

form {

    display: flex;
    flex-flow: row wrap;
    gap: 50px;
    padding-top: 20px;



}

.right>.second {

    padding-bottom: 100px;

}

a {
    color: #EA4C89;
    text-decoration: none;

    font-weight: 700;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;

}

a:hover {
    color: white;
}


.left {
    width: 50%;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

#submitBtn {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: -60px;

}



#submitBtn:hover,
#submitBtn:focus {
    background-color: #F082AC;
}

.log-in {

    display: flex;
    color: white;
    gap: 20px;
    text-decoration: none;
    padding-left: 120px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-top: -90px;


}

img {
    height: 100vh;
    display: flex;


}



@media only screen and (max-width: 1100px) {
    .left {
        flex-flow: column;
        height: auto;
        text-align: center;
        display: none
    }




    .img {
        width: 100vw;
        height: 100vh;
        display: flex;
        background-size: 100vw;
    }



    .right {
        width: auto;
        height: auto;
    }

    .dummy-text {
        width: auto;
        margin-top: 30px;

    }

    .left {
        padding: 10px 20px;
    }

    .remote-text {
        padding: 20px 0;
        margin: 0;
    }

    .form {
        flex-flow: column nowrap;
        align-items: center;

    }

    .input {
        text-align: left;
        width: auto;
        font-size: 0.7em;
        justify-content: center;
        align-items: center;
    }

    input {
        font-size: 0.9rem;
        height: 1.5rem;
        width: 70vw;
    }

    .button,


    button {
        margin-bottom: 0px;
        width: 60vw;
        padding: 10px 5px;
    }

    .log-in {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;

    }

    a {
        display: flex;
        justify-content: center;
        margin-bottom: 0px;

    }

}